body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Gugi', cursive;
}

.container {
 margin: 0 auto;
 width: 1200px;
 color: #4285F4;
}

ul {
  font-size: 0;
}

li {
  display: block;
  width: 300px;
  height: 160px;
  box-sizing: border-box;
  border: 1px #DADCE0 solid;
  background-color: #F2F2F2;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 900px;
    color: #EA4335;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 600px;
    color: #FBBC05;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 300px;
    color: #34A853;
  }
}
