body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

nav {
  border-right: 1px lightgray solid;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 1rem;
}

.wrap {
  display: flex;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  padding: 1rem;
  border-bottom: 1px lightgray solid;
}

header div:first-child{
  flex: 1;
}

.contents {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
